.fa-trustpilot{
    height: 18px !important;
    width: 18px !important;
    background-image: url('../images/logo.svg') !important;
    color: transparent !important;
}

#content {
    outline: none !important;
}